<div class="row">
    <div class="col">
        <h2>Locate Nearest Shop</h2>
        <form ngClass="form-inline" (ngSubmit)="onSubmit()" #locateForm="ngForm">

            <div class="form-group">
                <input placeholder="Longitude" type="number" step="any" required [(ngModel)]="longitude"
                       name="longitude"/>
            </div>

            <div class="form-group">
                <input placeholder="Latitude" type="number" step="any" required [(ngModel)]="latitude"
                       name="latitdue"/>
            </div>

            <button ngClass="button btn-primary" [disabled]="!locateForm.form.valid">Locate</button>
            <button (click)="resetForm();" ngClass="button btn-warning">Reset</button>

            <p>
                <app-shop-card [shop]="nearestShop" *ngIf="nearestShop"></app-shop-card>
            </p>
        </form>
    </div>
</div>