<md-card>
  <h2>Locate Nearest Shop</h2>
  <form (ngSubmit)="onSubmit()" #locateForm="ngForm">

    <table cellspacing="0">
      <tr>
        <td>
          <md-input-container>
            <input md-input placeholder="Longitude" type="number" required [(ngModel)]="longitude" name="longitude"/>
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <input md-input placeholder="Latitude"  type="number" required [(ngModel)]="latitude" name="latitdue"/>
          </md-input-container>
        </td>
      </tr>
    </table>
    <button md-raised-button color="primary" [disabled]="!locateForm.form.valid">Locate</button>
    <button md-raised-button (click)="resetForm();" color="warn">Reset</button>

    <p>
      <app-shop-card [shop]="nearestShop" *ngIf="nearestShop"></app-shop-card>
    </p>
  </form>
</md-card>
