<div class="row">
    <div class="col">
        <form #shopForm="ngForm">

            <div class="form-group">
                <label for="name">Shop Name</label>
                <input id="name" ngClass="form-control" placeholder="Shop name" type="text" required
                       [(ngModel)]="model.name"
                       name="name"/>
                <small id="nameHelp" class="form-text text-muted">Display name of new shop</small>
            </div>

            <div class="form-group">
                <label for="street">Street Address</label>
                <input id="street" ngClass="form-control" placeholder="Street Address" type="text" required
                       [(ngModel)]="model.address.street" name="street"/>
                <small id="addressHelp" class="form-text text-muted">Shop Address</small>
            </div>

            <div class="form-group">
                <label for="postCode">Street Address</label>
                <input id="postCode" ngClass="form-control" placeholder="Post Code" type="text" required
                       [(ngModel)]="model.address.postCode" name="postCode"/>
                <small id="postCodeHelp" class="form-text text-muted">Shop Post Code</small>
            </div>

            <button (click)="onSubmit()" ngClass="btn btn-primary" [disabled]="!shopForm.form.valid">Save</button>
            <button (click)="resetForm()" ngClass="btn btn-warning">Reset</button>

        </form>

        <button class="btn" (click)="setNewShopState('highlight')">Set state to highlight</button>
        <button class="btn" (click)="setNewShopState('normal')">set state to normal</button>


    </div>
</div>


<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-block">
                {{diagnostic}}
                {{newShopState}}
            </div>
        </div>
    </div>
</div>

<div class="row mt-3" [hidden]="addedShop == null" >
    <div class="col" >
        <div [@addNewAnim]="newShopState" style="border: 1px;">
            <h3>New Shop Added</h3>
        </div>
            <app-shop-card [@addNewAnim]="newShopState" [shop]="addedShop"></app-shop-card>
    </div>
</div>