<h1>String interpolation</h1>
<p>
  {{stringInterpolation}} - {{numberInterpolation}}
</p>
<hr/>
<h1>Property Binding</h1>
<input type="text" [value]="stringInterpolation"/>

<p [ngClass]="{redBorder: onTest()}">Is this styled?</p>

<p [ngStyle]="{color:textColor()}">Styled with ngStyle property binding</p>

<h3> Custom Property Binding</h3>

<app-property-binding [result]="10"> </app-property-binding>

<h1>Event Binding</h1>

<app-event-binding (clicked)="onCustomClicked($event)"></app-event-binding>

<h1>Two Way Binding</h1>

<app-two-way-binding></app-two-way-binding>
